

1) Add CDN on that file
2) Include the file on that file 
3) then write on the controller 
   example:  return back()->with('message', 'Successfully Added !');


   &nbsp;

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" integrity="sha512-gOQQLjHRpD3/SEOtalVq50iDn4opLVup2TF8c4QPI3/NmUPNZOk2FG0ihi8oCU/qYEsw4P6nuEZT2lAG0UNYaw==" crossorigin="anonymous" referrerpolicy="no-referrer" />



   <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>


   <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js" integrity="sha512-7VTiy9AhpazBeKQAlhaLRUk+kAMAb8oczljuyJHPsVPWox/QIXDFOnT9DUk1UC8EbnHKRdQowT7sOBe7LAjajQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


   Error show and success 


   if ($valid->fails()) {
      return redirect()->route('add_product')->withErrors($valid)->withInput();
  }
  
  // Continue with the processing, for example, saving the material to the database.
  
  // Flash a success message to the session.
  return redirect()->route('add_product')->with('success', 'Material added successfully');



  @if(session('success'))
    <div class="alert alert-success">
        {{ session('success') }}
    </div>
@endif

@if($errors->any())
    <div class="alert alert-danger">
        <ul>
            @foreach($errors->all() as $error)
                <li>{{ $error }}</li>
            @endforeach
        </ul>
    </div>
@endif
  


SSLCZ_STORE_ID=codel656b5308c4ac3
SSLCZ_STORE_PASSWORD=codel656b5308c4ac3@ssl
SSLCZ_TESTMODE=true
